@{
    ViewData["Title"] = "Home Page";
}


<br /><br /><br />
    
<form method="post" asp-action="list" asp-controller="vehicles">
    <div class="row">

        <div class="col-md-2">
            <select class="form-control selectpicker" id="used" name="used">
                <option value="null" title="Alla bilar">Alla bilar</option>
                <option value="false" title="Nya">Nya bilar</option>
                <option value="true" title="Begagnade">Begagnade bilar</option>
            </select>
        </div>

        <div class="col-md-6">
            <input type="text" class="form-control" id="searchText" name="searchText" placeholder="Fritext sök (märke, modell, etc.)" />
        </div>

        <div class="col-md-4">
            <button type="submit" class="btn btn-default">Filtrera/Sök</button>
            <input type="hidden" id="page" name="page" value="1" />
        </div>
    </div>
</form>


<br /><br />
Testlänkar:
        <p>
            <a href="/bilar/nya">/bilar/nya</a><br />
            <a href="/bilar/begagnade/">/bilar/begagnade/</a><br />
            <a href="/bilar/">/bilar/</a><br />
        </p>
<br />
<br />
<br />

    

<div class="col-md-12">
    <ul class="flex-container">
        @foreach (var m in ViewBag.Makes)
            {
            <li class="flex-item">
                <a href="bilar/sida/1?make=@m.Id" /><img src="~/images/vehiclelogotypes/@m.LogotypeFileName" alt="@m.Name" /><a />

            </li>
        }
    </ul>
</div>
