@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12">
        <ul class="flex-container">
            @foreach (var m in ViewBag.Makes)
            {
                <li class="flex-item">
                    <a href="bilar/sida/1?make=@m.Id" /><img src="~/images/vehiclelogotypes/@m.LogotypeFileName" alt="@m.Name" /><a />

                </li>
            }
        </ul>
    </div>
