@{
    ViewData["Title"] = "Home Page";
}

<ul>
    @foreach (var m in ViewBag.Makes)
    {
        <li>
            <img src="~/images/vehiclelogotypes/@m.LogotypeFileName" alt="@m.Name" />
        </li>
    }
</ul>