@theme-color: #ff0000;
/*@theme-background-color: #363636;*/
@theme-background-color: #000;
@theme-font-color: #ffffff;


body {
    background-color: @theme-background-color;
    color: @theme-font-color;
    padding-top: 50px;  
}
footer {
    border-top: 1px solid @theme-color;
    background-color: #141414;
    height: auto;
}


hr {
    border-top: 1px solid @theme-color;
}

.navbar-inverse {
    border-color: @theme-color;
    background-color: #000;
}
.navbar-brand {
    font-size: xx-large;
    color: #fff !important;
    font-family: 'Russo One', sans-serif;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: 'Russo One', sans-serif;
}
/*.btn-default {
    background-color: @theme-color;
}*/
.main-front {
    background-image: url("../images/front-image.jpeg");
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    height: 50%;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    padding: 5px;
    width: 200px;
    height: 180px;
    margin-top: 10px;
    line-height: 100px;
}


//table
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #777;
    border: none;
}
.table > thead > tr > th {
    border-color: @theme-color;
    border: none;
}
.table > tbody > tr > td {
    border-color: @theme-color;
    border: none;
}

//links
a, a:visited {
    color: @theme-font-color;
}

a:hover {
    color: @theme-color;

}


//select2 custom bootstrap css
.equipment.form-control {
    height: auto !important;
    padding: 1px;
}

.form-control ul.select2-choices {
    border: 0;
    background-image: none;
    margin: 1px;
    padding: 1px;
}

.form-control.select2-container .select2-choice {
    height: 38px;
    line-height: 38px;
}

//select2 custom css
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: @theme-color!important;
    color: @theme-font-color;
    border: 1px solid #aaa;
}
.select2-search__field {
    color: black!important;
}
.select2-selection__choice__remove {
    color:black!important;
}

.btn-default {
    background: none;
}

.dropdown-menu {
    background: #000;
    border: 1px solid #ffffff;    
}
.dropdown-menu > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: @theme-color;
}
.navbar-inverse .navbar-nav > li > a {
    color: @theme-font-color;
}