@model Bolinders.Core.Models.ViewModels.VehicleViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lägg till nytt fordon.</h2>
<hr />
<div class="row">
    <div class="col-md-12">

        <form asp-action="Create" enctype="multipart/form-data">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RegistrationNumber" class="control-label"></label>
                    <input asp-for="RegistrationNumber" class="form-control" />
                    <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MakeId" class="control-label"></label>
                    <select asp-for="MakeId" class="form-control" asp-items="ViewBag.MakeId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Model" class="control-label"></label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModelDescription" class="control-label"></label>
                    <input asp-for="ModelDescription" class="form-control" />
                    <span asp-validation-for="ModelDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mileage" class="control-label"></label>
                    <input asp-for="Mileage" class="form-control" />
                    <span asp-validation-for="Mileage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BodyType" class="control-label"></label>
                    <select asp-for="BodyType" asp-items="Html.GetEnumSelectList<BodyType>()" class="form-control"> </select>
                    <span asp-validation-for="BodyType" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Colour" class="control-label"></label>
                    <input asp-for="Colour" class="form-control" />
                    <span asp-validation-for="Colour" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gearbox" class="control-label"></label>
                    <select asp-for="Gearbox" asp-items="Html.GetEnumSelectList<Gearbox>()" class="form-control"></select>
                    <span asp-validation-for="Gearbox" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FuelType" class="control-label"></label>
                    <select asp-for="FuelType" asp-items="Html.GetEnumSelectList<FuelType>()" class="form-control"></select>
                    <span asp-validation-for="FuelType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Horsepowers" class="control-label"></label>
                    <input asp-for="Horsepowers" class="form-control" />
                    <span asp-validation-for="Horsepowers" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FacilityId" class="control-label"></label>
                    <select asp-for="FacilityId" class="form-control" asp-items="ViewBag.FacilityId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Equipment" class="control-label"></label>
                    <select asp-for="Equipment" class="form-control equipment" multiple="multiple"></select>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Used" /> @Html.DisplayNameFor(model => model.Used)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Leasable" /> @Html.DisplayNameFor(model => model.Leasable)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Images">Bilduppladdning</label>
                    <input asp-for="Images" id="files" class="form-control-file" type="file" aria-describedby="fileHelp" multiple accept="image/*" />
                    <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success pull-right" />
                </div>
            </div>
        </form>


    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<style>
    .equipment.form-control {
        height: auto !important;
        padding: 1px;
    }

    .form-control ul.select2-choices {
        border: 0;
        background-image: none;
        margin: 1px;
        padding: 1px;
    }

    .form-control.select2-container .select2-choice {
        height: 38px;
        line-height: 38px;
    }
</style>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<script type="text/javascript">
    $('.equipment').select2({
        tags: true
    });
</script>