@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500</title>
</head>
<body>
    <h1 style="font-size:20em">500</h1>
    <h4>Internt fel på webbservern.. <a style="text-decoration:underline;" href="/">Tillbaka till huvudsidan!</a></h4></body>
</html>
